
    h2 {
      color: black;
      text-align: center;
      }
    ul {
      list-style-type: none;
    }
    body {
      background-color:LightCyan;
      }
    section {
      background-color:Teal;
      font: 18px arial, sans-serif;
      }
    #entry {
        text-align: center;
      }
    .High {
      color:red;
      }
    .Medium {
      color:orange;
      }
    .Low {
      color:gray;
      }
    .done {
      color:black;
      text-decoration: line-through;
    }
